.download-app {
  .earnrefer-page-header-section {
    @media(min-width:992px) {
      padding-top: 100px;
    }
  }

  .page-header-section__wraper {
    .page-title {
      font-size: 40px;
      line-height: 56px;
      font-weight: 600;
      margin-bottom: 15px;

      @media (max-width:767px) {
        font-size: 30px;
        line-height: 42px;
        text-align: center;
      }
    }

    .page-desc {
      font-size: 22px;
      line-height: 26px;
      color: #595959;

      @media (max-width:767px) {
        text-align: center;
        font-size: 16px;
      }
    }
  }

  .qr-code {
    text-align: center;

    @media (max-width:767px) {
      display: none;
    }

    .qr-container {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px;
      width: 190px;
      height: 190px;
      margin: 0 auto 22px;
      background-image: url('../../images/static-images/qr-border.svg');
      background-position: top left;
      background-repeat: no-repeat;
      background-size: cover;

      img {
        width: 100%;
      }
    }

    .qr-text {
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      text-transform: capitalize;
    }
  }

  .appLink {
    margin-top: 16px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

    @media (min-width:768px) {
      display: none;
    }

    a {
      display: block;
      height: 88px;
    }

    img {
      height: 100%;
    }
  }

  .app-intro {
    margin-top: 100px;

    @media(max-width:767px) {
      margin-top: 68px;
    }

    .app {
      &-details {

        &-title {
          font-size: 32px;
          line-height: 48px;
          font-weight: 600;
          margin-bottom: 32px;

          @media(max-width:767px) {
            font-size: 24px;
            line-height: 36px;
          }
        }

        .feature {
          li {
            margin-bottom: 40px;
          }

          .title {
            display: flex;
            align-items: center;
            margin-bottom: 8px;

            span {
              font-size: 16px;
              line-height: 24px;
              font-weight: 700;
              padding-left: 8px;

              @media(max-width:767px) {
                font-size: 14px;
                line-height: 22px;
              }
            }
          }

          .desc {
            font-size: 14px;
            line-height: 22px;
            font-weight: 400;
            color: #595959;
          }

          &-terms {
            font-size: 14px;
            font-weight: 400;
            line-height: 21px;
            padding-top: 4px;
            border-top: 1px solid #D9D9D9;
            color: #595959;
          }
        }
      }
    }
  }

  .leftGif {

    @media (max-width:767px) {
      margin: 0 auto 30px;
      // width: 195px;
    }
  }

  .app-band {
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 28px;
    margin: 78px -60px 0;

    @media(max-width: 767px) {
      display: none;
    }

    p {
      display: flex;
      align-items: center;
      font-size: 16px;
      line-height: 24px;
      font-weight: 700;
      margin: 0;

      a {
        display: block;
        height: 52px;

        &:not(:last-child) {
          margin: 0 16px;
        }

        img {
          height: 100%;
        }
      }
    }
  }
}