.new-plan {
  .table {
    text-align: center;
    margin-bottom: 0;

    thead {
      background-color: #f5f9ff;
      border-top: none;

      .heading-main {
        text-align: left;
        width: 410px;

        .title {
          font-size: 20px;
          font-weight: 600;
          line-height: 24px;
          letter-spacing: 0.4px;
          text-transform: capitalize;
          margin-bottom: 12px;
        }

        .desc {
          color: #595959;
          font-size: 16px;
          font-weight: 400;
          line-height: 24px;
          letter-spacing: 0.32px;
          margin-bottom: 0;
        }
      }

      .no-border {
        td {
          border: none;
          padding: 0;
          vertical-align: bottom;

          .popular-tag {
            background-color: $primary-blue;
            margin-bottom: 0px;
            color: $light;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0 30px;
            font-size: 14px;
            line-height: 24px;
            font-weight: 600;
            border-radius: 7px 7px 0px 0px;
            padding: 7px 18px;

            .icon {
              margin-right: 8px;
            }

            &+.discount-tag {
              border-radius: 0 0 0 0;
            }
          }

          .discount-tag {
            @include hairline;
            font-weight: 600;
            background: #fcd800;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 7px 7px 0px 0px;
            margin-bottom: 0px;
          }
        }
      }
    }

    tbody {
      background-color: #fff;
    }

    td {
      padding: 16px;
      font-size: 16px;
      font-weight: 600;
      line-height: 24px;
      letter-spacing: 0.32px;
      vertical-align: middle;

      &.heading-flex {
        vertical-align: bottom;
      }

      .top {
        &.with-tooltip {
          display: flex;
          align-items: center;
          justify-content: center;

          .tooltip-pop {
            margin-left: 4px;
            cursor: pointer;
          }
        }

        .small {
          color: #595959;
          font-size: 14px;
          font-weight: 400;
          line-height: 21px;
          letter-spacing: 0.28px;

          &+.big {
            margin-top: 8px;
          }
        }

        .big {
          font-size: 22px;
          font-weight: 700;
          letter-spacing: -0.22px;
          margin-bottom: 0;
        }
      }

      .bottom {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-top: 16px;
        margin-top: 16px;
        border-top: 1px solid #e6e6e6;
        height: 125px;

        .price {
          font-size: 20px;
          font-weight: 600;
          letter-spacing: 0.4px;
          margin-bottom: 2px;

          &-old {
            font-size: 16px;
            font-weight: 400;
            color: #707070;
            text-decoration: line-through;
            margin-bottom: 0;
          }
        }
      }
    }

    .feature-list {
      display: flex;
      align-items: flex-start;
      max-width: 410px;
      text-align: left;

      .left {
        padding-right: 8px;

        img {
          width: 24px;
          height: 24px;
        }
      }

      .right {
        .title {
          font-size: 16px;
          line-height: 22px;
          font-weight: 600;
          letter-spacing: 0.32px;
          margin-bottom: 4px;
        }

        .desc {
          font-size: 14px;
          line-height: 21px;
          font-weight: 400;
          letter-spacing: 0.28px;
          color: #595959;
        }
      }
    }
  }

  &-title {
    font-size: 32px;
    line-height: 42px;
    font-weight: 700;
    letter-spacing: 0.64px;
    max-width: 788px;
    margin: 24px auto 50px;
    text-align: center;

    @include media-breakpoint-down(md) {
      font-size: 20px;
      line-height: 24px;
    }
  }

  &-info {
    color: #161616;
    text-align: center;
    font-size: 24px;
    font-weight: 400;
    line-height: 34px;

    @include media-breakpoint-down(md) {
      font-size: 18px;
      line-height: 22px;
    }
  }
}

.new-banner-section {
  padding-top: 73px;
  padding-bottom: 85px;
  margin-bottom: 60px;

  @include media-breakpoint-down(md) {
    padding-top: 50px;
    padding-bottom: 30px;
    margin-bottom: 30px;
  }
}